<div class="mb-4">
  <div class="accordion m-2" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header text-center" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <strong>Post a new Content</strong>
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <form id="post-form">
            <div class="m-3">
              <label for="email-input" class="form-label"><strong
                >Title</strong></label>
              <textarea class="form-control" id="title" rows="1"></textarea>
              <div class="form-text text-danger error" id="title-error"></div>
            </div>
            <div class="m-3">
              <label for="password-input" class="form-label"><strong
                >Content</strong></label>
              <textarea class="form-control" id="content" rows="10"></textarea>
              <div class="form-text text-danger error" id="content-error"></div>
            </div>
            <div class="d-flex justify-content-center mt-3">
              <button class="btn btn-dark bg-dark" type="submit">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>