<form id="comment-form" data-blog-id="{{post.id}}">
  <div class="m-3">
    <label for="comments" class="form-label"><strong>Add a comment</strong></label>
    <textarea class="form-control" id="comments" rows="3"></textarea>
    <div class="d-flex justify-content-center mt-3">
      <button type="submit" class="btn btn-dark bg-dark btn-sm">
        Submit
      </button>
    </div>
  </div>
</form>