<form id="login-form" class="p-4">
  <div class="mb-3">
    <label for="email-input" class="form-label"><strong>Email address</strong></label>
    <input type="email" class="form-control" id="email-input" />
  </div>
  <div class="mb-3">
    <label for="password-input" class="form-label"><strong
      >Password</strong></label>
    <input type="password" class="form-control" id="password-input" />
  </div>
  <div class="text-center text-danger error h5" id="login-error"></div>
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-dark bg-dark">Login</button>
  </div>
</form>