<div class="card m-3 d-flex justify-content-around">
  <button class="post-btn">
    <h5 class="h2 card-header text-center">
      <strong>{{title}}</strong>
    </h5>
  </button>
  <div class="card-body">
    <hr />
    <p class="h6 card-text text-center">{{createdAt}}</p>
  </div>
  <div class="h6 card-footer d-flex justify-content-around">
    <button type="button" data="{{id}}" class="btn btn-primary btn-sm">
      Update
    </button>
    <button type="button" data="{{id}}" class="btn btn-danger btn-sm">
      Remove
    </button>
  </div>
</div>