<div class="card m-3 d-flex justify-content-center">
  <button class="post-btn">
    <h5 class="h2 card-header text-center"><strong>{{title}}</strong></h5>
  </button>
  <div class="card-body">
    <p class="h6 card-text text-center">{{user.first_name}}
      {{user.last_name}}</p>
    <hr />
    <p class="h6 card-text text-center">{{createdAt}}</p>
  </div>
</div>