<div class="card m-3 d-flex justify-content-center">
  <h5 class="h2 card-header text-center"><strong>Featured</strong></h5>
  <div class="card-body">
    <p class="h5 card-text text-center">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <hr />
    <p class="h6 card-text text-center">John Smith</p>
    <hr />
    <p class="h6 card-text text-center">25th of September 2020</p>
  </div>
</div>