<div class="d-flex justify-content-between">
  <button class="btn btn-primary btn-sm" type="button">Update Comment</button>
  <button class="btn btn-danger btn-sm" type="button">Remove Comment</button>
</div>