<header>
  {{> private-navbar}}
</header>
<main class="container">
  <section class="mt-4">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome {{user.firstName}} {{user.lastName}}</h1>
        <p class="lead">You have {{blogCount}} blogs</p>
      </div>
  </section>
  <p class="text-center"><strong>To contribute to our tech community please create Posts</strong></p>
  {{> add-post}}
  <div class="mx-auto my-4">
    <hr />
    <h1 class="text-center"><strong>Your Posts</strong></h1>
    <div class="post-container rounded">
      {{#each posts as |user_post|}}
      {{> my-post-card}}
      {{/each}}
    </div>
  </div>
</main>