<header>
  {{> public-navbar}}
</header>
 <section class="container mt-4 responsive-form">
  <div class="mx-auto my-4">
    <h1 class="text-center">Login</h1>
    <hr />
    {{> login-form }}
  </div>
</section>