<header>
  {{> public-navbar}}
</header>
 <main class="container">
      <div class="mx-auto my-4">
        <h1 class="text-center">Login</h1>
        <hr />
        {{> login-form }}
      </div>
    </main>