<header>
  {{> public-navbar}}
</header>
<section class="container mt-4 responsive-form">
  <div class="mx-auto my-4">
    <h1 class="text-center">Sign Up Form</h1>
    <hr />
    {{> sign-up-confirmation-modal }}
    {{> sign-up-form }}
  </div>
</section>